<div id="adminpage">
    <h1>Administrative Actions</h1>
    <div class="sidebar">
        <div class="profile">
            <img src="https://i.pinimg.com/564x/6c/74/25/6c74255c82ac875ba9321bb44757407f.jpg">
            <h3>PMTOGO</h3> <!-- from login info/broswer/authN-->
            <p id="userrole"></p>
          </div>
        <ul>
        <li>
            <a href="#">
              <span class="icon"><i class="fas fa-user-shield"></i></span>
              <span class="item" id="adminuserman">User Mangement</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-cog"></i></span>
              <span class="item" id="adminusage">Usage Analysis Dashboard</span>
            </a>
        </li>
        </ul>
    </div>
    <div class="admin-content"></div>
</div>