<div id="Cancel" class="window">
    <form class="window-content" id="cancel-form" name="cancelService">
      <div class="container">
        <h1>Rate User Service</h1>
        <p>Please enter a rating 1-5</p>
        <br>
        //dynamic service info
  
        <div class="clearfix">
          <button type="submit" class="submit" id="cancelservice">Cancel Service</button>
          <button type="button" class="submit" id="backServices">Back</button>
        </div>
      </div>
    </form>
  </div>