<!DOCTYPE html>
<html>
<head>
    <title>DIY</title>
    <script src="DIYScript.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        #diy-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <header>
        <h1>DIY</h1>
        <button id="addDIYButton">Add DIY</button>
        <button id="viewAllButton">Add DIY</button>
    </header>
    <main>
        <div class="homepage-content">
            <!-- Content will be loaded here -->
            <div id="diy-content">
            </div>
        </div>
    </main>
</body>
</html>