<div id="Email" class="window">
    <form class="window-content" id="email-form" name="notification">
      <div class="container">
        <h1>Report Issue</h1>
        <p>Please fill out this form to notify admin of the issue you encountered.</p>
        <hr>
        <label for="first"><b>First Name</b></label>
        <input type="text" id="firstName" placeholder="Enter First Name" name="firstName" required>
  
        <label for="last"><b>Last Name</b></label>
        <input type="text" id="lastName" placeholder="Enter Last Name" name="lastname" required>

        <label for="last"><b>Decsribe the issue you are reporting</b></label><br>
        <textarea type="text" id="description" name="description" rows="4" cols="50"></textarea>
  
        <div class="clearfix">
          <button type="submit" class="submit" id="notify">Send Email</button>
        </div>
      </div>
    </form>
</div>