<div id="FrequencyChange" class="window">
    <form class="window-content" id="fchange-form" name="fchange">
      <div class="container">
        <h1>Change Service Frequency</h1>
        <p>Please enter the new frequency</p>
        <br>
        <label for="frequencys"><b>Frequency</b></label>
        <input type="text" id="frequencies" placeholder="Enter Frequency" name="frequencies" list="frequency" required>
          <datalist id="frequency">
            <option value="day"></option>
            <option value="week"></option>
            <option value="month"></option>
            <option value="quarter"></option>
            <option value="year"></option>       
          </datalist>
          <br>
        <label for="times"><b>How many times</b></label>
        <input type="number" id="times" placeholder="Enter Times" name="times" list="times" required>
  
        <div class="clearfix">
          <button type="submit" class="submit" id="fchangeservice">Change Frequency</button>
          <button type="button" class="submit" id="BacktoServices">Back</button>
        </div>
      </div>
    </form>
  </div>