<!-- Log In Form-->
<div id="loginpage" class="window">
  <form class="window-content" id="login-form" name="login">
    <div class="container">
      <h1>Login</h1>
      <p>Please enter your login credentials</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" id="logemail" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" id="logpassword" placeholder="Enter Password" name="password" required>

      <div class="clearfix">
        <button type="button" id="forgotPass" class="forgetbtn">Forgot Password?</button>
        <button type="submit" class="loginbtn">Log In</button>
        <button type="button" id="register-link" class="registrationbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>