<!-- OTP Form -->
<div id="otpform" class="window">
    <form class="window-content" id="otp-form">
        <div class="container">
            <h1>Account Recovery</h1>
            <p>Please enter your OTP to reset your password.</p>
            <hr>
            <label for="otp"><b>OTP</b></label>
            <input type="text" id="otp-input" placeholder="Enter OTP" name="otp" required>
            <div class="clearfix">
                <button type="submit" class="submit" id="submit-btn">Submit</button>
            </div>
        </div>
    </form>
</div>