<div id="RateService" class="window">
    <form class="window-content" id="rate-form" name="rateform">
      <div class="container">
        <h1>Rate User Service</h1>
        <p>Please enter a rating 1-5</p>
        <br>
        <label for="rating"><b>Rate</b></label>
        <input type="number" id="rating" placeholder="Enter Rating" name="rating" required>
  
        <div class="clearfix">
          <button type="submit" class="submit" id="rateservice">Submit Rating</button>
          <button type="submit" class="submit" id="back">Back</button>
        </div>
      </div>
    </form>
</div>

