<!-- Account Recovery Form -->
<div id="recovery" class="window">
    <form class="window-content" id="forgot-password-form">
        <div class="container">
            <h1>Forgot Password</h1>
            <p>Please enter your email address to reset your password.</p>
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" id="email-input" placeholder="Enter Email" name="email" required>
            <div class="clearfix">
                <button type="submit" class="submit" id="submit-btn">Submit</button>
            </div>
        </div>
    </form>
</div>