<div id="RateService" class="window">
    <form class="window-content" id="email-form" name="notification">
      <div class="container">
        <h1>Rate User Service</h1>
        <p>Please enter a rating 1-5</p>
        <br>
        <label for="rating"><b>Rate</b></label>
        <input type="number" id="rating" placeholder="Enter Rating" name="rating" required>
  
        <div class="clearfix">
          <button type="submit" class="submit" id="rateservice">Submit Rating</button>
          <button type="submit" class="submit" id="back">Back</button>
        </div>
      </div>
    </form>
</div>
<div id="FrequencyChange" class="window">
  <form class="window-content" id="email-form" name="notification">
    <div class="container">
      <h1>Rate User Service</h1>
      <p>Please enter a rating 1-5</p>
      <br>
      <label for="frequencys"><b>Frequency</b></label>
      <input type="text" id="frequencies" placeholder="Enter Frequency" name="frequencies" list="frequency" required>
        <datalist id="frequency">
          <option value="day">1</option>
          <option value="week">2</option>
          <option value="month">3</option>
          <option value="quarter">4</option>
          <option value="year">5</option>       
        </datalist>
        <br>
      <input type="number" id="frequencies" placeholder="Enter Times" name="times" list="times" required>

      <div class="clearfix">
        <button type="submit" class="submit" id="rateservice">Change Frequency</button>
        <button type="submit" class="submit" id="back">Back</button>
      </div>
    </div>
  </form>
</div>
<div id="Cancel" class="window">
  <form class="window-content" id="email-form" name="notification">
    <div class="container">
      <h1>Rate User Service</h1>
      <p>Please enter a rating 1-5</p>
      <br>
      //dynamis service info

      <div class="clearfix">
        <button type="submit" class="submit" id="rateservice">Cancel Service</button>
        <button type="submit" class="submit" id="back">Back</button>
      </div>
    </div>
  </form>
</div>