<div id = "spservices">
    <h1>Register and Delete Services</h1>
    <h4 class="userInfo"></h4>
    <div class="regrow">
      <div class="regcolumn">
        <div class="spservice">
          <div class="spservices"></div>
          <div class="email">
            <!--<button type="button" id="notifyAdmin" class="notifyAdmin">Report Problem?</button>-->
          </div>
          <div class="addservice">
            <button type="button" id="addservice" class="addservice">Add New Service</button>
          </div>
        </div>
      </div>
    </div>
  </div>