<!--Delete User Account-->
<div id="deleteAcc" class="wrapper">
    <div class="featuresection">
      <div class="top_navbar">
        <div class="hamburger">
          <button id="back">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
    <form class="window-content" id="delete-page" name="delete">
      <div class="container">
        <h1>Delete User Account</h1>
        <p>Would you like to proceed with deleting your account?</p>
  
        <div class="clearfix">
          <button type="button" id="confirm" >Confirm</button>
          <button type="button" id="cancel">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  