<!-- Side bar navigation/ Homepage-->
<div id="homepage" class="wrapper">
    <span id="logout" class="exit" title="Close Window">Log Out</span>
    <div class="sidebar">
      <!--profile image & text-->
      <div class="profile">
        <img src="https://i.pinimg.com/564x/6c/74/25/6c74255c82ac875ba9321bb44757407f.jpg">
        <h3>Anamika Roy</h3> <!-- from login info/broswer/authN-->
        <p>Designer</p>
      </div>
      <!--menu item-->
      <ul>
        <li>
          <a href="#" class="active">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="item" id="home">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-desktop"></i></span>
            <span class="item" id="dashboard">My Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="item" id="propertyEvaluation">Property Evaluation</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
            <span class="item" id="serviceManagement">Service Management</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-database"></i></span>
            <span class="item" id="requestManagement">Request Management</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-database"></i></span>
            <span class="item" id="maintenance">Maintenance & Renonvation</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-chart-line"></i></span>
            <span class="item" id="diyVideo">DIY Video</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-chart-line"></i></span>
            <span class="item" id="crimeAlert">Crime Alert</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-chart-line"></i></span>
            <span class="item">My Documents</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-user-shield"></i></span>
            <span class="item">Admin</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-cog"></i></span>
            <span class="item">Settings</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="section">
      <div class="top_navbar">
        <div class="hamburger">
          <a href="#">
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
    </div>
  </div>