  <!-- content of request management page -->
  <div>
    <h1>Request Management</h1>
    <div class="regrow">
      <div class="regcolumn">
        <div class="request">
          <table>
            <tr>
                <th scope="col">Request ID</th>
                <th scope="col">Property Manager Name</th>
                <th scope="col">Property Manager Email</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Frequency</th>
                <th scope="col">Comments</th>
               <!-- <th scope="col">Accept</th>
                <th scope="col">Decline</th>-->
            </tr>
            <tr>
                <th scope="row">1546131654</th>
                <td>Property Manager Name</td>
                <td>Property Manager Email</td>
                <td>Landscape</td>
                <td>Gardening</td>
                <td>replant dandelions</td>
                <td>1x/week</td>
                <td>none for now</td>
                <th scope="row"><button type="submit" class="accept"> Accept</button></td>
                <th scope="row"><button type="submit" class="decline">Decline</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>